head
  title Leaderboard
  meta(name="viewport" content="width=device-width, user-scalable=no")
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')

body
    +welcomePage

template(name="welcomePage")
  div.container-fluid
    div.jumbotron
      .row
        .col-md-8
          h1 GameTeam
          p This is a really cool project and it is very good.
        .col-md-4.box-shadow
         .input-group.padding-5
             input.form-control(type='text', placeholder='username')
             span.input-group-addon.glyphicon.glyphicon-user
         .input-group.padding-5
             input.form-control(type='password', placeholder='password')
             span.input-group-addon.glyphicon.glyphicon-lock
         p.btn-group.padding-5
             a.btn.btn-default.btn-lg.padding-5(href="") Login
             a.btn.btn-success.btn-lg.padding-5(href="") Join
    div.jumbotron
        .row
            .col-md-4
            .col-md-4
            .col-md-4
