/* CSS declarations go here */
.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

h6 {
    color: rgb(230, 230, 230);
}

body {
    background-color: rgb(50, 50, 50) !important;
}

.form-control{
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    color: rgb(220, 220, 220);
}

div.jumbotron {
    color: rgb(230, 230, 230);
    background-color: rgb(50, 50, 50);
}

.box-shadow:before, .box-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.box-shadow:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}