head
  title Leaderboard
  meta(name="viewport" content="width=device-width, user-scalable=no")
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
  style.
     h6 {
        color: rgb(230, 230, 230);
     }
     body {
        background-color: rgb(50, 50, 50); 
     }
     .form-control{
        background-color: rgb(70, 70, 70);
        margin-top: 2px;
        color: rgb(220, 220, 220);)
     }
     div.jumbotron {
        color: rgb(230, 230, 230);
        background-color: rgb(50, 50, 50);
     }

body
  .outer
    +leaderboard
template(name="welcomePage")
  div.container
    h6 Gnarcore Studios
    div.jumbotron
      h1 GameTeam
      p This is what it does and why you want it. Get it now, what are you waiting for?
    .input-group
       input.form-control(type='text', placeholder='username')
       span.input-group-addon.glyphicon.glyphicon-user 
    .input-group
       input.form-control(type='password', placeholder='password')
       span.input-group-addon.glyphicon.glyphicon-lock
    p
    .btn-group
       a.btn.btn-default.btn-lg(href="") Login
       a.btn.btn-success.btn-lg(href="") Join

