head
  title Leaderboard
  meta(name="viewport" content="width=device-width, user-scalable=no")
  link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet' href='GameTeam.css')

body
    +welcomePage

template(name="welcomePage")
  div.container-fluid
    div.jumbotron
      .row
        .col-md-8
          h1 GameTeam
          p This is what it does and why you want it. Get it now, what are you waiting for?
        .col-md-4
         .input-group
            input.form-control(type='text', placeholder='username')
            span.input-group-addon.glyphicon.glyphicon-user
         .input-group
            input.form-control(type='password', placeholder='password')
            span.input-group-addon.glyphicon.glyphicon-lock
         p.btn-group
            a.btn.btn-default.btn-lg(href="") Login
            a.btn.btn-success.btn-lg(href="") Join
