/* CSS declarations go here */
.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

h6 {
    color: rgb(230, 230, 230);
}

body {
    background-color: rgb(50, 50, 50) !important;
}

.form-control{
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    color: rgb(220, 220, 220);
}

div.jumbotron {
    color: rgb(230, 230, 230);
    background-color: rgb(50, 50, 50);
}

.box-shadow {
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 1px 10px black;
    border-radius: 7px;
}
