/* CSS declarations go here */
.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

h6 {
    color: rgb(230, 230, 230);
}

body {
    background-color: rgb(50, 50, 50) !important;
}

.form-control{
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    color: rgb(220, 220, 220);
}

div.jumbotron {
    color: rgb(230, 230, 230);
    background-color: rgb(50, 50, 50);
}

.box-shadow {
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 1px 10px black;
    border-radius: 7px;
}

.outlined-font {
    color: whitesmoke;
    -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    text-shadow:
        -0.5px -0.5px 0 grey,
        0.5px -0.5px 0 grey,
        -0.5px 0.5px 0 grey,
        0.5px 0.5px 0 grey;
}

.background-column {
    background-color: rgb(228,103,103);
    background-size: cover;
}