<template name="chatBox">

 <div id="chat" class="col-md-4 col-xs-4 col-sm-4">
     <div class="container-fluid">
         <a data-toggle="collapse" href="#chatCollapse" aria-expanded="false" aria-controls="chatCollapse">
             <div class="chat-header">
                 Chat
             </div>
         </a>
         <div class="collapse" id="chatCollapse">
             <div class="chat-box">
                 <div class="chat">
                     {{#each message}}
                         {{>chatMessage}}
                     {{/each}}
                 </div>
                 <div class="input-group">
                     <textarea type="text" class="form-control" id="chat-message" placeholder="Say something..."></textarea>
                 </div>
                 <button type="submit" id="send" class="btn btn-danger" data-toggle="dropdown">Send Chat <span class="glyphicon glyphicon-upload"   aria-hidden="true"></span></button>
             </div>

         </div>
     </div>
</div>
</template>

<template name="chatMessage">
    <div>
        <b>{{user}}:</b> {{message}}
    </div>
</template>