<template name="IgnList">

  <div class="accordion" id="gameListAccordian">
    {{#each $mapped IgnList}}   
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#gameListAccordian" href="#expandedGameInfoFor{{$index}}">
            <!-- Button trigger modal -->
            <a href="#" class="list-group-item col-md-12">
            <div class="col-md-8" style="color: rgb(228,103,103);">
              <strong>{{game}} </strong>
            </div>
            <div class="col-md-3">
              {{name}}
              <span class="badge">{{level IGN=name}}</span>
            </div>
            </a>
          </a>
          <div id="expandedGameInfoFor{{$index}}" class="accordion-body collapse">
            <div class="accordion-inner">
              <h5>Expanded info for</h5> 
               <p>{{game}}</p>
               <p>{{name}}</p>
            </div>
          </div>  
        </div>
      </div>
    {{/each}}
  </div>
    <!--li>{{gameStatsText}}</li-->
</template>

