<template name="IgnList">
    <div class="list-group">
      {{#each IgnList}}     
        <!-- Button trigger modal -->
        <a href="#" class="list-group-item col-md-12">
          <div class="col-md-8" style="color: rgb(228,103,103);">
              <strong>{{game}}</strong>
          </div>
          <div class="col-md-3">
              {{name}}
              <span class="badge">{{level IGN=name}}</span>
           
          </div>
          </a>
      {{/each}}
    </div>
    <!--li>{{gameStatsText}}</li-->
</template>