<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid nav-size">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{pathFor 'home'}}" style="font-size: 1.8em"><span style="color: rgb(228,69,69)">OBE</span><span class="outlined-font">RIFT</span></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" style="font-weight: bold">
               
                <li><a href="#">Get the App</a></li>
                <li><a href="{{pathFor 'teams'}}">Team Central</a></li>
                {{#if currentUser}}
                  <li><a style="color: rgb(228,103,103);" href="{{pathFor 'dashboard'}}">Dashboard</a></li>
                {{/if}}
                 <li><a href="#">{{> loginButtons align="right"}}</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
</template>