/* CSS declarations go here */
.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

h6, h2 {
    color: rgb(230, 230, 230);
}

html {
    /* background-color: rgb(50, 50, 50) !important; */
    
    background-image: url("/action2.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
background-color: transparent !important;
}

img {
    max-width: 100%;
}
#customInput {
    display: block;
}
.form-control{
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    color: rgb(220, 220, 220);
}

div.jumbotron, div.panel {
    color: rgb(230, 230, 230);
    background-color: transparent !important;
    /* background-color: rgb(50, 50, 50) !important; */
}

div.panel {
    margin-bottom: 0px;
    border: 0px
}

.box-shadow {
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 1px 10px black;
    border-radius: 7px;
}

.white-font {
    color: whitesmoke;
    font-weight: bold;
}
.dark-gray-font {
    color: rgb(60,60,60);
    font-weight: bold;
}
.outlined-font {
    color: whitesmoke;
    font-weight: bold;
    -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    text-shadow:
    -0.5px -0.5px 0 grey,
    0.5px -0.5px 0 grey,
    -0.5px 0.5px 0 grey,
    0.5px 0.5px 0 grey;
}

.red-column {
    background-color: rgb(228,103,103);
    background-size: cover;
    height: 98vh;
}

.red {
    color: rgb(228,103,103);

}

.green-column {
    background-color: rgb(96, 227,96);
    background-size: cover;
    height: 98vh;
}

.secondary-column {
    height: 98vh;
    background-color: rgba(245, 245, 245, 0.08);
}

.nav-size {
    max-width: 900px;
}


.login-text-and-button {
    background-color: rgb(50,50,50);
    border: 0px;
}

.login-text-and-button:hover{
    background-color: rgb(228,103,103);
    border: 0px;
}
#login-buttons .login-button, .accounts-dialog .login-button{
    background-color: rgb(78,173,74);
}

#login-sign-in-link, #login-close-text, .login-dropdown-list:link {
    color: rgb(50,50,50);
}

#login-buttons-password {
    background-color: rgb(78,173,74);
}
.login-dropdown-list {
    background-color: transparent
}

#chat-message {
    width: 100%;
    height: auto;
}

#messages {
    width: 700px;
    height: 300px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0px 0px 10px 0px;
}

.chat-box {
    background-color: rgba(70,70,70,0.75);
    padding: 10px;
}

.chat {
    color: white;
}

#chat {
    position: fixed;
    bottom: 0;
    text-align: left;
}

.chat-header {
    background-color: rgba(70,70,70,0.8);
    border-radius: 5px 5px 0 0;
    color: white;
    padding: 10px;
    text-align: right
}

.settings-toggle {
    background-color: transparent;
    border: 0px;
}

.game-list {
     background-color: transparent !important;
    color: whitesmoke;

}

.game-list-details {
    background-color: transparent !important;
    color: whitesmoke;

}
.modal-content {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 2px;
    box-shadow: 1px 1px 10px grey;
}