<template name="dashboard">
    <head>
        <title>OBERIFT DASHBOARD</title>
    </head>
    <body>
        {{> nav}}
        <div class="container-fluid">
            <div class="jumbotron">
                <!--<h1><span style="color: rgb(228,69,69)">OBE</span><span class="white-font">RIFT</span></h1>-->
                <!-- Begin the dashboard code -->
                <br>
                <h3>Welcome, {{currentUser.username}}!</h3>
                <div class="container">
                    <header>
                        <h5>Your Games</h5>
                    </header>

                    <table class="table">

                        {{> IgnList}}
                    </table>

                </div>
                {{SupportedGames}}
                <form class="form-inline">

                    <div class="form-group"> 
                        <div class="input-group">
                            <label for="Label"></label>
                            <input type="text" data-source="supportedGames" class="form-control typeahead" autocomplete="off" spellcheck="off" data-min-length="0" name="gameTitle" placeholder="game title">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="gameUserName"></label>
                        <input type="text" class="form-control" id="gameUserName" name="gameUserName" placeholder="in-game username">
                    </div>
                    <button type="submit" id="submitNewGame" class="btn btn-default">Add to your stats</button>
                </form>
                {{> chatBox}}
            </div>
        </div>
    </body>
</template>



