/**
 * Created by sam on 5/30/2015.\
 * The intent of this page is to take the user to a nice blank screen with one button. We will put a cool animation or something in the background. Cliking the botton calls down the accounts-ui drop down
 */
<template name="teams">
    <head>
        <title>JOIN OBERIFT</title>
    </head>
    <body>
        {{> nav}}}
        <div class="container-fluid">
            <div class="jumbotron">
                <h3>Join Us...</h3>
                <!--Search-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                          <input type="text" class="form-control" placeholder="Search for Teams, Users, Games...">
                          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>

                <div class="container">
                    <header>
                          <button type="button" class="btn btn-primary btn-lg">{{> loginButtons}}</button>
                    </header>
                    
                </div>
            </div>
        </div>
    </body>
</template>