<template name="teams">
    <head>
        <title>JOIN OBERIFT</title>
    </head>
    <body>
        {{> nav}}}
        <div class="container-fluid">
            <div class="jumbotron">
                <h3>Join Us...</h3>
                <!--Search-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                          <input type="text" class="form-control" placeholder="Search for Teams, Users, Games...">
                          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>

                <div class="container">
                    <header>
                          <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    </header>
                    
                </div>
            </div>
        </div>
    </body>
</template>