/* CSS declarations go here */
.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

h6 {
    color: rgb(230, 230, 230);
}

body {
    background-color: rgb(50, 50, 50) !important;
}

.form-control{
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    color: rgb(220, 220, 220);
}

div.jumbotron, div.panel {
    color: rgb(230, 230, 230);
    background-color: rgb(50, 50, 50);
}

div.panel {
    margin-bottom: 0px;
    border: 0px
}

.box-shadow {
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 1px 10px black;
    border-radius: 7px;
}

.white-font {
    color: whitesmoke;
    font-weight: bold;
}

.outlined-font {
    color: whitesmoke;
    font-weight: bold;
    -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    text-shadow:
        -0.5px -0.5px 0 grey,
        0.5px -0.5px 0 grey,
        -0.5px 0.5px 0 grey,
        0.5px 0.5px 0 grey;
}

.red-column {
    background-color: rgb(228,103,103);
    background-size: cover;
    height: 98vh;
}

.green-column {
    background-color: rgb(96, 227,96);
    background-size: cover;
    height: 98vh;
}

.secondary-column {
    height: 98vh;
    background-color: rgba(245, 245, 245, 0.08);
}

.nav-size {
    max-width: 900px;
}















#login-dropdown-list {
    background-color: whitesmoke;
}

.login-text-and-button{
    background-color: rgb(50,50,50);
    border: 0px;
}

.login-text-and-button:hover{
    background-color: rgb(228,103,103);
    border: 0px;
}
#login-buttons .login-button, .accounts-dialog .login-button:hover{
    background-color: rgb(78,173,74);
}
#login-sign-in-link, #login-close-text {
    color: rgb(50,50,50);
}

#login-buttons-password {
    background-color: rgb(78,173,74);
}


