<template name="teams">
    <head>
        <title>OBERIFT TEAM CENTER</title>
    </head>
    <body>
        {{> nav}}}
        <div class="container-fluid">
            <div class="jumbotron">
                <h3>Team Up.</h3>
                <!--Search-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                          <input type="text" class="form-control" placeholder="Search for Teams, Users, Games...">
                          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>

                <div class="container">
                    <header>
                        <h3>OBERIFT Teams</h3>
                    </header>
                    <table class="table">
                        <tr>
                            <th>Team Name</th>
                            <th>Team Captain</th>
                        </tr>
                        {{#each ObeRiftTeams}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{game}}</td>
                                <td>{{teamCaptain}}</td>
                            </tr>
                        {{/each}}
                        <!--li>{{gameStatsText}}</li-->
                    </table>
                </div>
            </div>
        </div>
        {{#if currentUser}}
            {{> stickyBottom}}
        {{/if}}
    </body>
</template>